#header {
    grid-area:                  nav;
    min-height:                 20px;
    height:                     100%;
    width:                      100vw;
    padding-left:               10px;
    background:                 #111;
    display: grid;
    grid-template-columns: 1fr minmax(20px, 3vh) minmax(20px, 3vh) minmax(20px, 3vh);
}
#logo {
    height:                     minmax(16px, 3vh);
    -webkit-app-region:         drag;
}
#logo:before {
    height:                     minmax(16px, 3vh);
    content:                    'Paladins';
    font-family:                Raleway;
    font-size:                  small;
    line-height:                3vh;
    color:                      #ccc;
}
#logo:after {
    height:                     3vh;
    content:                    'Live';
    font-family:                Raleway;
    font-size:                  small;
    line-height:                3vh;
    color:                      #A2DDEB;
}
#header span {
    width:                      3vh;
    color:                      #fff;
    font-size:                  1.1em;
    text-align:                 center;
    vertical-align:             middle;
}
#Minimize:hover, #Maximize:hover, #close:hover {
    cursor:                     pointer;
    background:                 #1a1a1d;
}