#matchContainer {
    grid-area:                  matchDetails;
    width:                      100%;
    height:                     100%;
    padding:                    50px;
    padding-top:                25px !important;
    display:                    grid;
    grid-template-areas:        'details details details'
                                'team1 info team2';
    grid-template-columns:      1fr 25% 1fr;
    grid-template-rows:         25px 1fr;
}
#teamContainer1 {
    grid-area: team1;
}
#teamContainer2 {
    grid-area: team2;
}
#matchDetails {
    grid-area: details;
    font-family: Work-sans;
    color: #aaa;
    text-align: center;
}
#matchInfo {
    grid-area: info;
    padding: 5px;
    color: #fff;
}
#matchRankInfoTitle {
    display: grid;
    grid-template-areas: 'arTitle arTitle'
                         'r1 r2';
    grid-template-rows: min-content min-content;
    grid-gap: 10%;
    margin-left: 15px;
    margin-right: 15px;
    font-family: Work-sans;
}
#team1Average {
    grid-area: r1;
    background-size: contain !important;
    background-position: right !important;
    font-weight: 500;
}
#team1Average span, #team2Average span {
    font-weight: 100 !important;
    font-size: 12px;
    text-align: right !important;
    color: #999;
}
#team2Average {
    grid-area: r2;
    background-size: contain !important;
    background-position: right !important;
    font-weight: 500;
}
#averageRankTitle {
    grid-area: arTitle;
    text-align: center !important;
}
#expectedWinChance {
    margin-top: 3vh;
    display: grid;
    grid-template-areas: 'ewcTitle ewcTitle'
                         'e1 e2';
    grid-template-columns: 1fr 1fr;
}
#expectedWinChance span {
    grid-area: ewcTitle;
    text-align: center;
    margin-bottom: 1vh;
}
#team1WinChance {
    grid-area: e1;
    text-align: center;
}
#team2WinChance {
    grid-area: e2;
    text-align: center;
}
#matchContainer::-webkit-scrollbar {
    width: 15px;
    background: #111;
}
#matchContainer::-webkit-scrollbar-thumb {
    background: #000;
}
/*@element #matchContainer and (max-width: )*/
@media only screen and (max-width: 51vw) {
    #matchContainer {
        overflow-y: scroll;
        padding: 15px;
        grid-template-areas: 'team1'
                             'details' 
                             'info' 
                             'team2';
        grid-template-columns: 1fr;
        grid-template-rows: 1fr min-content 1fr;
        grid-gap: 3vh;
    }
}















#playerMatchHistory {
    display: grid;
    grid-template-rows: repeat(5, min-content);
    grid-row-gap: 2%;
    overflow-y: scroll;
    padding: 15px;
}
#playerMatchHistory::-webkit-scrollbar {
    background: #111;
}
#playerMatchHistory::-webkit-scrollbar-thumb {
    background: #000;
}
.match {
    display: grid;
    grid-template-areas: 'info info'
                         'team1 team2';
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10%;
    background: #3c3c43;
}
.matchInfoContainer {
    grid-area: info;
    text-align: center;
    padding-top: 1em;
}
.matchInfo {
    font-family: Roboto;
    color: #fff;
    font-size: 1.5em;
}
.matchTime {
    font-family: Yi-Baiti;
    color: #bbb;
    font-size: 1.1em;
}
.matchTeam1 { grid-area: team1; }
.matchTeam2 { grid-area: team2; }
.matchTeam1, .matchTeam2 {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-row-gap: 2%;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 4em;
}
.matchPlayerHeader {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-column-gap: 0.5em;
}
.matchPlayerName {
    font-family: Roboto;
    color: #fff;
    font-size: 2em;
}
.matchPlayerChampion {
    font-family: Yi-Baiti;
    color: #ccc;
    font-size: 1.5em;
    line-height: 2em;
}
.matchPlayerStats {
    font-family: Work-sans;
    color: #ccc;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.matchPlayerStats span {
    font-size: 1em;
    vertical-align: middle;
}