<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" rel="stylesheet" href="../CSS/main.css" />

        
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="../Libraries/Materialize/materialize.min.css"  media="screen,projection"/>

        
        <!-- Jquery library -->
        <script src="../Libraries/Jquery/jquery-3.5.1.min.js"></script>
        <!-- Materialize library -->
        <script type="text/javascript" src="../Libraries/Materialize/materialize.min.js" defer></script>
    </head>
    <body>
        
    </body>
</html>